@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.equipmentButton:disabled {
  background-color: gray;
}

:root {
  --bgPrimary: #282c34
}