.gameContainer{
    position: relative;
    height: 600px;
    width: 600px;
    background-color: brown;
}

.piece{
    transition: 0.5s;
    position: absolute;
    height: 10%;
    aspect-ratio: 1;
    background-color: aqua;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}